---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { HOME } from "@consts";
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <p class="text-center text-lg">
      We are a game developer focused brand in Scotland's home of games, Dundee.
    </p>
  </Container>
</Layout>
