---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
  fullPage?: boolean;
};

const { title, description, fullPage = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.TITLE}`} description={description} />
  </head>
  <body>
    <Header />
    <main class={fullPage ? "!justify-start" : ""}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
